<form action="/users/add" method="POST">
    <div class="form-group">
        <label for="username">Введите username для входа:</label>
        <input id="username" name='username' type="text" class="form-control checkUser">
        <button class="btn btn-primary text-centre">Submit</button>
    </div>
</form>