<div class="form-row text-center">
    <div class="col-12 ">
    <a class="btn btn-primary" href="/users/check">Sing In</a>
    <a class="btn btn-primary" href="/users/add">Sing Up</a>
  </div>
</div>